@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet');

body {
  background-color: #0a192f;
  color: white;
}

.container {
  height: 100vh;
}

.homeContainer {
  padding: 100px 0 100px 0;
  height: 100vh;
}

h2 {
  font-family: 'Questrial', sans-serif;
}

.name {
  font-size: 48px;
}

.shortBio {
  width: 70%;
}