@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet');

body {
  background-color: #3d4449;
  color: white;
}

.homeContainer {
  padding: 100px;
  height: 100vh;
}

h2 {
  font-family: 'Questrial', sans-serif;
}

.shortBio {
  width: 70%;
}